.App {
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #464646;
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 60px;
  color: black;
    border: none;
    outline: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 26px;
  cursor: pointer;
  margin: 20px;

}

.red-btn{
  background-color: red;
}

.green-btn{
  background-color: green;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 50px;
}
